body {
    text-align: center;
    overflow-x: hidden;
    font-size: 16px;
}

.green {
    color: green;
    margin: 2px;
}

.red {
    color: red;
    margin: 2px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 6px;
}

#formdiv {
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

#startInput {
    width: 60%;
}

input {
    height: 60%;
    width: 40%;
    margin: 5px;
}

#displayTime {
    margin-top: 30vw;
}