body {
    text-align: center;
    overflow-x: hidden;
}

.green {
    color: green;
    margin: 2px;
}

.red {
    color: red;
    margin: 2px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 6px;
}

#formdiv {
    width: 90vw;
    margin: auto;
    height: 15vw;
    display: flex;
    justify-content: center;
}

input {
    height: 60%;
    margin-top: 5%;
    margin-left: 15px
}

#displayTime {
    padding: 10px;
}